<div class="multiple-choice-container">
  <!-- Try It! Header -->
  <div class="try-it-header">
    <span class="location-pin">📍</span>
    <span class="try-it-text">Try It!</span>
  </div>

  <!-- Instructions -->
  <div class="instructions">
    <p>{{ question.instruction }}</p>
  </div>

  <!-- Options List -->
  <div class="options-list">
    <div 
      *ngFor="let option of question.options; let i = index; trackBy: trackByIndex"
      class="option-item"
      [class.selected]="isSelected(i)"
      (click)="onOptionSelect(i)"
      (keydown)="onKeyDown($event, i)"
      tabindex="0"
      role="radio"
      [attr.aria-checked]="isSelected(i)"
      [attr.aria-label]="getOptionLetter(i) + '. ' + option">
      
      <!-- Radio Button -->
      <div class="radio-button" [class.checked]="isSelected(i)">
        <div class="radio-inner" [class.visible]="isSelected(i)"></div>
      </div>
      
      <!-- Option Label and Text -->
      <div class="option-content">
        <span class="option-letter">{{ getOptionLetter(i) }}.</span>
        <span class="option-text">{{ option }}</span>
      </div>
    </div>
  </div>
</div>